<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="Data" connectionString="Server=;Network Library=DBMSSOCN;Database=VivAmbulant;Enlist=false;User ID=WebDAV;Password=" providerName="System.Data.SqlClient" />
    <add name="Store" connectionString="Server=;Network Library=DBMSSOCN;Database=VivDateiAblage;User ID=WebDAV;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <clear />
      <add name="WebDAVCopyHandler" path="*" verb="COPY" type="WebDAVCopyHandler" />
      <add name="WebDAVDeleteHandler" path="*" verb="DELETE" type="WebDAVDeleteHandler" />
      <add name="WebDAVGetHandler" path="*" verb="GET" type="WebDAVGetHandler" />
      <add name="WebDAVHeadHandler" path="*" verb="HEAD" type="WebDAVHeadHandler" />
      <add name="WebDAVMkColHandler" path="*" verb="MKCOL" type="WebDAVMkColHandler" />
      <add name="WebDAVMoveHandler" path="*" verb="MOVE" type="WebDAVMoveHandler" />
      <add name="WebDAVOptionsHandler" path="*" verb="OPTIONS" type="WebDAVOptionsHandler" />
      <add name="WebDAVPropFindHandler" path="*" verb="PROPFIND" type="WebDAVPropFindHandler" />
      <add name="WebDAVPropPatchHandler" path="*" verb="PROPPATCH" type="WebDAVPropPatchHandler" />
      <add name="WebDAVPutHandler" path="*" verb="PUT" type="WebDAVPutHandler" />
      <add name="WebDAVUnsupportedHandler" path="*" verb="LOCK,UNLOCK" type="WebDAVUnsupportedHandler" />
    </handlers>
    <modules>
      <remove name="FileAuthorization" />
      <remove name="UrlAuthorization" />
    </modules>
  </system.webServer>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:8.0 /nowarn:1659;1699;1701;612 /warnaserror" />
    </compilers>
  </system.codedom>
</configuration>
