<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="webDAVSettings" type="WebDAVSettings" />
  </configSections>
  <webDAVSettings>
    <allowModificationOfOwnedResources managers="true" team="false">
      <add name="DOMAIN\ScanService" type="User" />
    </allowModificationOfOwnedResources>
    <allowModificationOfVivendiResources>
      <add name="DOMAIN\Administrators" type="Group" />
    </allowModificationOfVivendiResources>
  </webDAVSettings>
  <connectionStrings>
    <add name="Data" connectionString="Server=;Network Library=DBMSSOCN;Database=VivAmbulant;User ID=WebDAV;Password=" providerName="System.Data.SqlClient" />
    <add name="Store" connectionString="Server=;Network Library=DBMSSOCN;Database=VivDateiAblage;User ID=WebDAV;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <clear />
      <add name="WebDAVCopyHandler" path="*" verb="COPY" type="WebDAVCopyHandler" />
      <add name="WebDAVDeleteHandler" path="*" verb="DELETE" type="WebDAVDeleteHandler" />
      <add name="WebDAVGetHandler" path="*" verb="GET" type="WebDAVGetHandler" />
      <add name="WebDAVHeadHandler" path="*" verb="HEAD" type="WebDAVHeadHandler" />
      <add name="WebDAVMkColHandler" path="*" verb="MKCOL" type="WebDAVMkColHandler" />
      <add name="WebDAVMoveHandler" path="*" verb="MOVE" type="WebDAVMoveHandler" />
      <add name="WebDAVOptionsHandler" path="*" verb="OPTIONS" type="WebDAVOptionsHandler" />
      <add name="WebDAVPropFindHandler" path="*" verb="PROPFIND" type="WebDAVPropFindHandler" />
      <add name="WebDAVPropPatchHandler" path="*" verb="PROPPATCH" type="WebDAVPropPatchHandler" />
      <add name="WebDAVPutHandler" path="*" verb="PUT" type="WebDAVPutHandler" />
      <add name="WebDAVUnsupportedHandler" path="*" verb="LOCK,UNLOCK" type="WebDAVUnsupportedHandler" />
    </handlers>
    <modules>
      <remove name="FileAuthorization" />
      <remove name="UrlAuthorization" />
    </modules>
  </system.webServer>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
</configuration>
